* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}
.container-header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 16px;
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

a {
  color: lightgray;
  text-decoration: none;
}

.hero-section {
  display: flex;
  width: 60%;
  margin-top: 75px;
  margin-bottom: 100px;
}

.hero-text {
  text-align: left;
}

.hero-text > h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text > p {
  margin-bottom: 20px;
}

.hero-text > p {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-btn {
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}

.hero-img > img {
  width: 600px;
  height: 300px;
}

.additional-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 30px;
}

.information-panel-container {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}

.one-panel {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.panel {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 25px;
  margin-bottom: 10px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.quote {
  width: 50%;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  text-align: center;
  margin-bottom: 20px;
}

.author {
  padding-left: 600px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.call-to-action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  color: #fff;
}

.call-to-action-panel {
  width: 60%;
  height: 125px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #3882f6;
  border-radius: 10px;
}

.call-to-action > p {
  font-size: 16px;
}

.action-btn {
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #3882f6;
  color: #fff;
  font-size: 16px;
}

.footer {
  background-color: #1f2937;
  color: #fff;
  font-size: 16px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
